h1.ac-header {
  text-align: left;
  margin-bottom: 15px;
}

.ac-posts, .ac-peers, .ac-vendors {
  width: 32%;
  display: inline-block;
  float: left;

  ul {
    list-style-type:none;
    margin: 0;
  }

  li {
    border: 2px solid #eee;
    padding: 3px 1em;
    margin-bottom: 5px;
    text-align: justify;
    
    h3: { text-align: left; }
  }

  a {
    display: block;
  }
}

.ac-peers, .ac-vendors {
  margin-left: 2%;
}

.ac-peers {
  img, h3 {
    float: left;
  }

  p {
    clear: both;
  }
}

.ac-vendors {
  img {
    max-width: 100%;
  }
}

div.bootbox.modal {
  width: 80%;
  margin: -250px 0 0 -40%;
}
